<div class="sidenav">
  <div class="login-main-text">
    <h2>
      Fuctura<br />
      Login Page
    </h2>
    <p>Acesso ao sistema financeiro Fuctura</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <app-table [employees]="employees" [employee]="employee"></app-table>

    <div class="login-form">
      <form>
        <app-filho [employee]="employee"></app-filho>
        <button type="submit" class="btn btn-black" (click)="submit()">
          Criar
        </button>
        <button type="submit" class="btn btn-secondary" (click)="update()">
          Alterar
        </button>
      </form>
    </div>
  </div>
</div>
